.profile-page {
  color: white;
  background-color: rgb(39, 24, 15); 
}

.profile-modal {
  position: fixed;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%; 
  max-width: 600px;
  min-height: 60%;
  background-color: #f5ecdc; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
  color: black;
  padding-top: 2rem;
  
}
.modal-open .page-black-background {
  background-color: black; 
}


  .profile-modal input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.4rem 0rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-modal button {
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #898f89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .profile-modal button {
    font-size: 25px;
    background-color: rgb(39, 24, 15); 
    color: white;
    border-radius: 30px;
    padding: 1rem 2.5rem;
    cursor: pointer;
   
  }
  
  .profile-modal button:hover {
    background-color: #212221;
  }
  .profile-titles {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .login-or-signup {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .logged-in-message {
    color: green;
    margin-top: 10px;
  }
  

  .order-list ul  {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }

  .order-list li {
    margin-top: 1rem;
    border-bottom: 1px solid grey;
  }
 
  .order-img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: black;
  }
  .order-mail {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .orderhistory {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

  }